.list-block{
    width: 80%;
    height: max-content;
    min-height: 10rem;
    display: none;
}

.list-block-active{
    display: flex;

}
.imagePreview {
    margin-left: 30px;
    border-radius: 10px;
    width: 175px;
    height: 250px;
    margin-bottom: 20px;
}