.list-block{
    width: 80%;
    height: max-content;
    min-height: 10rem;
    display: none;
    margin-left: 75px;
}

.list-block-active{
    display: flex;
}

.list-item{
    background-color: rgba(black, 0.5);
    width: 22%;
    /* text-align: center; */
}

/*.description{
    width: 18%;
    top: 46%;
    background: rgba(205, 214, 219, 0.3);
    text-align: center;
    position: absolute;
}*/
