.main-page{
    width: 100%;
    height: 100vh;
    background-color: #212325;
}

.header{
    height: 8%;
    display:  flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 20px;
}

.header-button-group{
    display: flex;
    align-items: center;
}

.header-button-group *{
    margin-left: 15px;
}
